    body {
       text-align: center;
    }
    
    .bluebutton {
      background-color: blue;
      color:white;
      padding:50px;
      border:10px;
      border-color:black;
      margin:20px;
      display:inline-block;
    }


    .greenbutton {
      background-color: green;
      color:white;
      padding:50px;
      border:10px;
      border-color:black;
      margin:20px;
      display:inline-block;
    }